<saw-menu></saw-menu>

<h1>{{ title | uppercase }}</h1>
<h2>{{ aNePasFaire(subTitle) }}</h2>

<!-- <saw-discover-observable></saw-discover-observable> -->

<!-- <saw-list-person></saw-list-person> -->


<app-poc></app-poc>
<app-poc></app-poc>

<saw-edit-selfie *ngIf="leSelfieRecu"
                  (cancelEdition)="hideEdition()"
                  [monSelfie]="leSelfieRecu">
</saw-edit-selfie>
<app-list-selfie (editerSelfie)="displayEdition($event)"></app-list-selfie>


<router-outlet></router-outlet>
<!-- Génération ici -->
